body{
  background-image: url(https://wallpaperaccess.com/full/1303695.jpg);
  width: 100%;
  height: 100%;
}
p{
	font-family: fonts/Mont-ExtraLightDEMO, sans-serif, Arial;
}
h2{
	font-family: fonts/Mont-HeavyDEMO, sans-serif, Arial;
}
